.statistics {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 8vh;
  margin: 4vh;
}
.itemGood {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1eff45;
  width: 8vh;
}
.itemNeutral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffb22d;
  width: 8vh;
}
.itemBad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ff1f71;
  width: 8vh;
}
.totalFeedback {
  text-align: center;
  margin-bottom: 4vh;
}

.number {
  font-size: 4vh;
}

.totalFeedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: none;
  border-left: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5%;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.15),
      transparent
    );
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
  }
}
.totalNumber {
  font-size: 6vh;
}

.positiveFeedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: none;
  border-left: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5%;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.15),
      transparent
    );
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
  }
}

.positiveFeedbackPercentage {
  font-size: 8vh;
}
